* {
    overflow: hidden;
  }
  
  div.course-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: auto;
    padding: 50px;
    justify-content: space-between;
    align-items: start;
    max-width: 900px;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0.3, 0.3, 0.3, 0.3);
  }
  
  .course-name {
    margin-left: 200px;
    margin-top: 28px;
    width: 220px;
    height:150px ;  
    font-size: auto;
    color: #fff;
    background-color: #0b173b;
    padding: 30px;
    font-weight: bold;
    border-left: 10px solid #f1c40f;
    grid-column: 1;
    grid-row: 1;
    overflow: auto;
  }
  
  .right-img {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    background-color: #f1c40f; 
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    
  }
  
  .course-image {
    width: 300px;
    height: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
    z-index: 2; /* Ensures the image is above the background */
  }
  
  .right-img::after {
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    top: 180;
    right: 0;
    width: 100%;
    height: 50px; /* Adjust this height based on how much white space you need */
    background-color: white; /* White bottom section */
    z-index: 1; /* Behind the image */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  
  .course-image {
    width: 500px;
   
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* position: absolute; */
    top: 20px; 
    right: 10px; 
    
  }
  
  .left-datebox {
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    margin-left: 150px;
    font-size: 16px;
    text-align: center;
  }


  .right-descrption{
    border-left: 3px solid #f1c40f;
    padding: 50px;
  }
  

  


  /* Footer styling */
.footer {
  background-color: #333; 
  color: white; 
  text-align: center; 
  padding: 10px 0; 
  width: 100%; 
  position: absolute;
   bottom: 0; 
}

/* Footer year styling */

.footer h4 {
  margin: 0; 
  font-size: 14px; 
}

/* Responsive behavior */
@media (max-width: 768px) {
  .main-container {
      min-height: calc(100vh - 60px); 
  }

  .cards-container {
      flex-direction: column; 
      align-items: center; 
  }

  .card-left, .card-right { 
      margin-bottom: 20px; 
      width: 80%;
  }

  .footer h4 {
      font-size: 12px; 
  }
}